@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Graphie';
  src: url('/path/to/Graphie.ttf') format('truetype');
}

body {
  font-family: 'Graphie', serif;
}

.gurtfd {
  background-color: rgb(20, 92, 197);
  padding-top: 10vw;
  padding-bottom: 10vw;
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
}

.kLrQtv {
  clip-path: polygon(0px 30%, 100% 0%, 100% 70%, 0px 100%);
  background-color: rgb(65, 127, 218);
  display: flex;
  border-radius: 4px;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 7vw;
  padding-bottom: 3vw;
}

.dIlUvj {
  padding-top: 15vw;
  padding-bottom: 20vw;
  border-radius: 4px;

  clip-path: polygon(0% 27%, 100% 0%, 100% 73%, 0% 100%);
  background: rgb(10, 37, 64);
}

.lkbVXO {
  font-size: 18px;
  padding: 12px 26px 12px 18px;
  background-color: rgb(83, 139, 255);
  font-weight: 600;
  border-radius: 2px;
  width: fit-content;
  color: white;
  margin-bottom: 2vw;
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
}


@media (max-width: 600px)
{
.kMolaF {
    height: 8px;
}
}
.kMolaF {
    background-color: aliceblue;
    height: 12px;
    border-radius: 10px;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 24px;
}
* {
    margin: 0;
    padding: 0;
    font-family: Graphie,serif;
    font-weight: 500;
    font-size: 16px;
}
div {
    display: block;
}
.swiper, swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.kyNGyd {
  padding: 0.5rem 1rem;
  border: 0px solid rgb(209, 217, 233);
  border-radius: 8px;
  
}
